# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage and testing
lib-cov
coverage
*.lcov
.nyc_output
.grunt

# Dependency directories
node_modules/
bower_components
jspm_packages/
web_modules/

# Build output
build/
dist/
.out/
.next/
.nuxt/
out/
.vuepress/dist
.temp
.cache
.svelte-kit/
.docusaurus
.serverless/
.firebase/
.dynamodb/

# TypeScript / tooling cache
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.node_repl_history

# Yarn
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Environment files
.env
.env.*
!.env.example

# Local project config
.DS_Store
.vscode/
.vscode-test
.vercel/

# Output of 'npm pack'
*.tgz

# Misc build logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Project specific (migrations/seeds/cache)
src/db/migrations/
src/db/seeders/
src/db/models/
